<% layout("/layouts/boilerplate")%>
<div class="row">
 <div class="col-8 offset-4 mb-3 mt-3">
<body>
    <h3><%=listing.title %></h3>
    <div class="card">
        <div class="card" style="width: 18rem;">
            <img src="<%=listing.image%>" class="card-img-top show-img" alt="listing_image">
            <div class="card-body">
            <p class="card-text">
                <br>
                <b><i><%=listing.description%></i></b><br>
               <b> &#8377;<%=listing.price%> /night</b><br>
               <b><%=listing.location%></b><br>
                <b><%=listing.country%></b>

             </p>
            </div> 
          </div>
    </div>
    <div>
    <a href="/listings/<%=listing._id%>/edit"><button class="btn btn-dark"><b>Edit</b></button></a>
    </div>
    <br>
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button class="btn btn-dark"><b>Delete</b></button>
    </form>
    <br>
    <hr>
    <div class="col-8">
        <h4>Leave a Review</h4>
        <form action="/listings/<%=listing.id%>/reviews" method="POST" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label"><b>Rating</b></label>
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label"><b>Comments</b></label>
                <textarea name="review[comment]" id="comment" cols="25" row="600" class="form-control" required></textarea>
            </div>
            <button class="btn btn-dark">Submit</button>
            <br>
        </form>
    </div>
</body>
</div>
</div>
